web.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="company">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="employee" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="name" />
                            <xs:element type="xs:integer" name="age" />
                            <xs:element type="xs:integer" name="salary" />
                            <xs:element type="xs:string" name="emailid" />
                            <xs:element type="xs:long" name="phonenum" />
                            <xs:element type="xs:string" name="designation" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="salary">
        <xs:restriction base="xs:integer">
          <xs:minInclusive value="50000"/>
          <xs:maxInclusive value="200000"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>